*{
    margin: 0;
    padding: 0;
}


main{
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 230px;
}
h2{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 3;
}
.value{
      font-size: 30px;
}

.btn{
    padding: 10px 30px;
    border-radius: 10px;
    color: azure;
    background-color: cadetblue;
}
